{% extends "layout.html"%}

{% block content %}

<script>
	var currentVideoTime = 0;

	function createCommentDOM(commentObj) {
		var minutes = Math.floor(commentObj.videoTime/60);
		var seconds = commentObj.videoTime - minutes * 60;
		var timeString = seconds < 10 ? minutes + ":0" + seconds : minutes + ":" + seconds;
		var userNameString = commentObj.userNameString || "(Anonymous)";

  // TODO: Edit the style of the added content and better yet
    // use swig templating!
    var userNameHeader = $('<p></p>').text(userNameString).addClass("pull-left comment_title");
    var commentContent = $('<p></p>').text(commentObj.content).addClass("comment_content");
    var miscContent = $('<a></a>').text(timeString).addClass('jumpVideo pull-right').attr("data-time-s", commentObj.videoTime);
    var clear = $("<p class='clear'></p>");
    var commentEntry = $('<div class="comment" data-commenttime=' + commentObj.videoTime + '></div>');
    commentEntry.append(commentContent).append("<hr>");
    // commentEntry.append(userNameHeader);
    commentEntry.append(miscContent).append(clear);


		return commentEntry;
	}

  function jumpToTime(timesec)
  {
  	// kdp.sendNotification('doPlay', null); // Null parameters are optional
    window.kdp.sendNotification("doPlay");
  	// Moves to a specific point, defined in seconds from the start of the video
    window.kdp.sendNotification("doSeek", timesec);
  }

  function playerDurationHandler(data) {
  	console.log("Duration!", data.newValue);
  	// if (allComments.length) {
  	// 	window.allCommentsMap = [];
  	// 	for (var i = 0; i < data.newValue; i++) {

  	// 		if (allCommentsHash.hasOwnProperty(i)) {
  	// 			window.allCommentsMap[i] = allCommentsHash[i];
  	// 		}
  	// 		else {
  	// 			window.allCommentsMap[i] = 0;
  	// 		}
  	// 	}
  	// }
  	// console.log("MAP is now", allCommentsMap);
  }

	function playerUpdateThrottler(limit) {
		var counter = 0;
		var beginTime = 0;
		return function(data) {
			var endTime = Math.floor(data);

			// Moved to the past, remove future entries
			if (endTime < beginTime) {
				// console.log("Need to remove entries!");
				for (var ind = endTime; ind <= beginTime; ind++) {
					$('#new_comment_container').find('[data-commenttime="'+ind+'"]').remove();

					if (displayedCommentsHash.hasOwnProperty(ind) && displayedCommentsHash[ind] === true) {
						// comments at videoTime "ind" no longer displayed
						displayedCommentsHash[ind] = false;
					}
				}
			}

			if (counter % limit === 0) {
				for (var i = beginTime; i <= endTime; i++) {
					var key = i + "";
					if (displayedCommentsHash.hasOwnProperty(key)) {
						if (displayedCommentsHash[key] === false) {
							var timeComments = allCommentsHash[key];
							for (var k = 0; k < timeComments.length; k++) {

								// var minutes = Math.floor(timeComments[k].videoTime/60);
								// var seconds = timeComments[k].videoTime - minutes * 60;
								// var timeString = seconds < 10 ? minutes + ":0" + seconds : minutes + ":" + seconds;

								// var userNameString = timeComments[k].userName;
								// if (!userNameString) {
								// 	userNameString = "Anonymous";
								// }
								// var userNameString = timeComments[k].userNameString || "(Anonymous)";



								//$('#new_comment_container').prepend(commentEntry);

								var commentEntry = createCommentDOM(timeComments[k]);
        				$('#new_comment_container').prepend(commentEntry);

							}
							displayedCommentsHash[key] = true;
						}
					}
				}

				beginTime = endTime;
				counter = 0;
			}
			counter += 1;

			window.currentVideoTime = data;

		};
	}
	var playerUpdatePlayheadHandler = playerUpdateThrottler(5); // every 5 counts
</script>
<div id="comment_vid_container">
  <div class="row">
    <div id="video_container" class="col-lg-8">
      <div class="row">
        <p class="lead">Kaltura Connect 2014</p>
      </div>
      <div class="row">
    	<script src="http://cdnapi.kaltura.com/p/1742331/sp/174233100/embedIframeJs/uiconf_id/24203511/partner_id/1742331"></script>
        <div id="kaltura_player_1400024212" style="width: 560px; height: 395px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <span itemprop="name" content="Welcome to the Video Experience Conference"></span>
        <span itemprop="description" content=""></span>
        <span itemprop="duration" content="2044"></span>
        <span itemprop="thumbnail" content="http://cdnbakmi.kaltura.com/p/1742331/sp/174233100/thumbnail/entry_id/1_cx4pvw69/version/100000/acv/161"></span>
        <span itemprop="width" content="560"></span>
        <span itemprop="height" content="395"></span>
        </div>
    </div>
  </div>
  <div id="row">
    <div id="comment_list" class="col-lg-4">
      <div class="row">
         <div id="submission_header">
           <p class="lead pull-left">Comments</p>
           <p class="small pull-right"><a href="#" id="show_form"> Leave a comment <span class="glyphicon glyphicon-chevron-down"></span></a>
           </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div id="submission_container" class="col-lg-12 form-group">
          <form action="/comments/add" method="post" id="commentForm">
{#             <input type="text" class="form-control" name="username" placeholder="Enter Your Name"> #}
            <textarea class="form-control" rows="1" placeholder="Comment" name="content"></textarea>
            <div class='form-group'>
              <p id="time_on_form" class='pull-left'></p>
              <input type='submit' class='btn btn-primary pull-right'>
            </div>
          </form>
        </div>
      </div>
        <div class="row">
          <div id="new_comment_container">
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}

