{% extends "layout.html"%}

{% block content %}

<div id="comment_vid_container">
  <div class="row">
    <div id="video_container" class="col-lg-8">
      <div class="row">
        <p class="lead">Kaltura Connect 2014</p>
      </div>
      <div class="row">
    	<script src="http://cdnapi.kaltura.com/p/1742331/sp/174233100/embedIframeJs/uiconf_id/24203511/partner_id/1742331"></script>
        <div id="kaltura_player_1400024212" style="width: 560px; height: 395px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <span itemprop="name" content="Welcome to the Video Experience Conference"></span>
        <span itemprop="description" content=""></span>
        <span itemprop="duration" content="2044"></span>
        <span itemprop="thumbnail" content="http://cdnbakmi.kaltura.com/p/1742331/sp/174233100/thumbnail/entry_id/1_cx4pvw69/version/100000/acv/161"></span>
        <span itemprop="width" content="560"></span>
        <span itemprop="height" content="395"></span>
        </div>
    </div>
  </div>
  <div id="row">
    <div id="comment_list" class="col-lg-4">
      <div class="row">
         <div id="submission_header">
           <p class="lead pull-left">Comments</p>
           <p class="small pull-right"><a href="#" id="show_form"> Leave a comment <span class="glyphicon glyphicon-chevron-down"></span></a>
           </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div id="submission_container" class="col-lg-12 form-group">
          <form action="/comments/add" method="post" id="commentForm">
            <input type="text" class="form-control" name="username" placeholder="Enter Your Name">
            <textarea class="form-control" rows="1" placeholder="Comment" name="content"></textarea>
            <div class='form-group'>
              <p id="time_on_form" class='pull-left'></p>
              <input type='submit' class='btn btn-primary pull-right'>
            </div>
          </form>
        </div>
      </div>
        <div class="row">
          <div id="new_comment_container">
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}

