<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HBO GO</title>
  <link "stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel = "stylesheet" href="/stylesheets/style.css" rel="stylesheet">

  <title></title>
</head>
<body>
  <div id="header">
    <img src="/images/hbo.png" alt="hbo go logo"/>
    <nav class="navbar">
      <ul class="nav navbar-nav">
            <li><a href="#">Preview</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Documentaries</a></li>
            <li><a href="#">Late Night</a></li>
          </ul>

    </nav>
  </div>
   <div class="container">
    {% block content %}{% endblock %}
    </div>
    <footer>
      <div id ="filler">
      </div>
      <ul class="navbar-nav">
            <li><a href="#">Devices</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Legal Notices</a></li>
            <li><a href="#">(c)2014 Home Box Office, Inc. All Rights Reserved</a></li>
      </ul>
    </footer>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect(); // TIP: .connect with no args does auto-discovery

    socket.on('new_comment', function (new_comment) {
      //console.log(new_tweet);

      allComments.push(new_comment);
      if (new_comment.videoTime < currentVideoTime) {
      	console.log(new_comment);
      	// Comment in the past -- put into list
      	$('#new_comment_container').prepend('<div class="comment">'+ new_comment.content+'</div>');
      }
    });
  </script>

</body>
</html>
