body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  padding-top: 100px;
  background-color:#FFF;
}

#header{
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  height:100px;
  width:100%;
  padding-top: 20px;
  background-color:black;
    // background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(75,75,75,1)); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(bottom, rgba(0,0,0,1), rgba(75,75,75,1)); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(75,75,75,1)); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(75,75,75,1)); /* Standard syntax (must be last) */
    color:white;

    img{
      width:150px;
      margin: 10px 50px;
    }
    nav{
    margin: -35px auto;
    height:35%;
    width:70%;
    background-color:#000;
    background: -webkit-linear-gradient(bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */
    border-radius: 25px 25px 0 0;

  }
  nav a:link, nav a:visited{
  text-decoration: none;
  color:#72c331;

  }
  nav a:hover{
    text-decoration:none;
    color:#72c331;
  }

}


.container{
  margin: 25px auto;
}
#comment_vid_container{
  //height:600px;
}
#video_container{
  display: inline-block;

}

#comment_list{
  margin:-10px;
  color:#8b867c;
  padding: 15px 45px;
  background-color: #FFF;
  border-radius:25px;
  height: 600px;
  overflow-y: scroll;
  overflow-x:hidden;
   a{
    color:#72c331;
  }
  #submission_header{
    border-radius: 25px 25px 0 0;
  }
  #new_comment_container{
    height:400px;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
      width: 12px;
  }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(84, 153, 225, 0.9);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(84, 153, 225, 0.9);
  }

}

#submission_container,
.comment
{
  background-color:#ccc;
  color:#000;
  padding:10px;
  margin:10px 0;
  box-sizing:border-box;
  border: 1px solid #888;
  p{
    margin:-5px;
  }
  a{
    color:#72c331;
  }

}
.comment{
  border:3px solid #FFF;
}
.comment_content{
    padding:7px 0 0 10px;
}
.comment_title{
  font-size:.75em;
  padding: -5px 0;
}
.clear{
  clear:both;
}
#submission_container{
  margin:35 0 5px 0;
  form input[type=submit]{
    btn {
      background-color:#FFF;
    }
  }
  form input[type=text], form textarea, form button{
    margin:5px 0;
  }
}

.lead{
  color:#8b867c;
}
.jumpVideo {
  cursor: pointer;
  color: #72c331;
}

.btn-primary {
  background-color: #72c331;
  border-color: #72c331;
}
  .btn-primary:hover, .btn-primary:active{
    background-color: #4d8421;
    border-color: #4d8421;
  }

#filler{
  height:25px;
  width:100%;
  background: -webkit-linear-gradient(bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(75,75,75,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
footer{
  margin:0;
  .navbar-nav{
    list-style:none;
    li{
        margin:0 10px;
        a{
          color:white;
          font-size:.75em;
        }
        a:hover{
          color:#ccc;
          text-decoration:none;
        }
    }
  }
}


